body {
    background-color: #f0f8ff;  /* Color de fondo */
    font-family: Arial, sans-serif;  /* Tipo de letra */
    text-align: center;  /* Centra el texto */
    margin-top: 50px;  /* Espacio desde la parte superior */
}

h1 {
    color: #0000ff;  /* Color de la palabra "Hola" */
    font-size: 48px;  /* Tamaño de la fuente */
}